* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container {
    text-align: center;
}

.container h2 {
    background-color: dodgerblue;
    padding: 20px;
    border-radius: 10px;
    color: beige;
    font-size: 32px;
    margin-bottom: 24px;
}

.color {
    color: yellow;
}

.btn {
    background-color: transparent;
    padding: 8px;
    border: 2px solid dodgerblue;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 1.5px;
    color: dodgerblue;
    outline: none;
    cursor: pointer;
}

.btn:hover {
    background-color: dodgerblue;
    color: bisque;
    transition: all 1 ease-out;
}